/*TOP*/

.tooltip-top .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-top .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip-top:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*BOTTOM*/

.tooltip-bottom .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-bottom .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip-bottom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*LEFT*/

.tooltip-left .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 75%;
  margin-right: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-left .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip-left:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*RIGHT*/

.tooltip-right .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 75%;
  margin-left: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-right .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip-right:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
